@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');

:root {
    --blue: #203d78;
    --dark-blue: #1f3c78;
    --light-blue: #e3edfb;
    --white: #ffffff;
}
  

/*################ global css start ################*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}
/*################ global css end ################*/


/*################ config css start ################*/
body {
    font-family: 'Nunito', sans-serif;
    color: var(--blue);
    font-weight: 400;
}

strong {
    font-weight: 700;
}
/*################ config css end ################*/



/*################ product-sheet css start ################*/
.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: var(--light-blue);
    color: var(--blue);
}
.table-striped>tbody>tr:nth-of-type(odd):hover>*,
.table-striped>tbody>tr:nth-of-type(even):hover>* {
    --bs-table-accent-bg: #d5e5fb;
}
.table-striped>tbody>tr:nth-of-type(even)>* {
    color: var(--blue);
}
.table > :not(caption) > * > *{
    padding: 1rem 0rem;
}


.table th:first-child,
.table td:first-child {
    width: 120px;
    white-space: nowrap;
    padding-left: 0;
}
.table th:last-child,
.table td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.table th {
    font-size: 11px;
    color: var(--dark-blue);
    padding-bottom: 25px !important;
    padding-left: 7px !important;
    padding-right: 7px !important;
}

.table td {
    font-size: 10px;
}

.table td a {
    color: var(--blue);
    display: block;
    padding-bottom: 5px;
    padding-left: 10px;
    transition: all 0.2s linear;
}
.table td a:hover {
    color: #3c6ccb;
}
.table td img {
   box-shadow: 15px 0 20px rgba(11, 12, 12, 0.07);
}

.table td i {
    font-size: 20px;
}

/* featured product start */
.table-striped>tbody>tr.featured-product>* {
    --bs-table-accent-bg: var(--blue);
    color: var(--white);
}

.table-striped>tbody>tr.featured-product:hover>* {
    --bs-table-accent-bg: var(--blue);
    opacity: 0.9;
    /* --bs-table-accent-bg: #d5e5fb;
    color: var(--blue); */
}

.table .featured-product td a {
    color: var(--white);
}
.table .featured-product td a:hover {
    color: #95b9ff;
}
/* featured product end */
/*################ product-sheet css end ################*/