@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');

:root {
    --blue: #203d78;
    --dark-blue: #1f3c78;
    --light-blue: #e3edfb;
    --white: #ffffff;
}
  

/*################ global css start ################*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
    margin-bottom: 0;
}
/*################ global css end ################*/


/*################ config css start ################*/
body {
    font-family: 'Nunito', sans-serif;
    color: var(--blue);
    font-weight: 400;
}

strong {
    font-weight: 700;
}

i {
    font-size: 14px;
}
/*################ config css end ################*/



/*################ tabella-comparative css start ################*/

/* heading css */
ul.heading li{
    color: var(--dark-blue);
    font-size: 11px;
    font-weight: 700;
    padding: 10px 0px;
}

/* background css */
ul.bg-light-blue {
    background-color: var(--light-blue);
}
ul.content:hover {
    background-color: #d5e5fb;
}
ul.featured-content {
    background-color: var(--blue);
}
ul.featured-content:hover {
    background-color: var(--blue);
    opacity: 0.9;
}

/* content css */
ul.heading li {
    padding: 10px 5px;
}

@media (max-width: 360px){
    ul.heading li {
        padding: 10px 2px;
        font-size: 10px;
    }
}

ul.content {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 16px 10px 0;
}

ul.content li {
    color: var(--blue);
    font-size: 10px;
}

ul.content li a{
    color: var(--blue);
    display: block;
    padding-bottom: 5px;
    padding-left: 10px;
    transition: all 0.2s linear;
    white-space: nowrap
}

ul.content li a:hover {
    color: #3c6ccb;
}


/* featured content */
ul.content.featured-content li,
ul.content.featured-content li a{
    color: var(--white);
}

ul.content.featured-content li a:hover {
    color: #95b9ff;
}

/* img */
ul li img {
    box-shadow: 15px 0 20px rgba(11, 12, 12, 0.07);
}

/* width set css */
ul li:first-child {
    width: 100px;
    flex-shrink: 0;
}
ul li:nth-child(3) {
    width: 65px;
    text-align: center;
}
ul li:nth-child(5) {
    width: 35px;
    text-align: center;
}
/*################ tabella-comparative css end ################*/